.header {
    background-color: rgb(255 241 89);
    padding-top: 10px;
}

.logo{
    width:65%; 
}

.buscar {
    width: 100%;
    background-color:white;
}

.search {
    width: 95%;
    border:none; 
}

.buscador {
    border: none;
}

.auto {
    width: 75%;
}

.mercado-libre{
    text-align:center; 
}

.auto-anuncio{
    text-align: center;
}


.alinearcentro {
    text-align: center;
}


.col-6  .col-1{
    font-size:small; 
}


.bi{
    font-size:small;
}


.banner {
    background-image: url('../../Content/Images/fondo.jpg');
    padding-top:20px; 
    height: 250px;
}


.muneco {
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.revista{
    text-align:right; 
}


.mini {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border:1px solid black; 
    border-radius: 3px; 
    text-align:center;
}

.producto {
    background-color: rgb(237 237 237);
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

.info {
    background-color: white;
}

.ruta a {
    font-size: small;
    text-decoration:none;
}

.costo{
    font-size:30px; 
}

#preguntar{
    margin-top:20px; 
    background-color:#3483fa; 
    font-weight:500; 
    padding:10px 45px;
    border-radius:7px; 
}

#apartalo {
    margin-top: 20px;
    background-color: #e3edfb;
    color: #3483fa;
    padding: 10px 45px;
    border-radius: 7px;
}



.tabla{
    background-color:white; 
    text-align:left;
    border-collapse:collapse; 
    width:100%; 
}

th, td{
    border: solid 1px black ;
    padding:5px;
    padding-right:50px; 
}

.campo1 {
    background-color: rgb(245 245 245); 
    width:100%; 
}

.campo2 {
    background-color: rgb(255 255 255);
    width: 100%;
}

.campo3 {
    background-color: rgb(235 235 235);
    padding-right: 50px;
}

.campo4 {
    background-color: white;
}

.cardprecio {
    padding: 10px;
    border: 1px solid rgb(229 229 229);
    margin-top: 10px;
}

.wandavision{
    width:100%; 
    text-align:right; 
}

.ventas{
    text-align:center; 
}

